<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (submit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Hasło</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">
          {{ IsLogin ? "Zaloguj się" : "Zarejestruj się" }}
        </button>
      </form>
      <div class="d-flex flex-row-reverse bd-highlight">
        <button
          type="button"
          class="btn btn-primary"
          (click)="isLoginToggle(false)"
        >
          Rejestracja
        </button>
        <button
          type="button"
          class="btn btn-primary me-1"
          (click)="isLoginToggle(true)"
        >
          Logowanie
        </button>
      </div>
    </div>
  </div>
</div>
